################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BlazorApp1/.vs/BlazorApp1/FileContentIndex/88218c1b-307b-4c30-bd77-1fc568483bbb.vsidx
/.vs
/BlazorApp1/.vs/BlazorApp1/CopilotIndices/17.14.1091.29919
/BlazorApp1/.vs/BlazorApp1/v17
/BlazorApp1/BlazorApp1/bin/Debug/net8.0
/BlazorApp1/BlazorApp1/obj/Debug/net8.0
/BlazorApp1/BlazorApp1/obj
/BlazorApp1/.vs/BlazorApp1/config/applicationhost.config
/BlazorApp1/.vs/BlazorApp1/FileContentIndex/498ee773-a76e-4637-8e25-086b15dc7a4e.vsidx
